<!DOCTYPE html>
<html>
  <head>
    <title>MsgMe</title>
    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui massive menu inverted">
      <div class = "ui container ">
        <%= render 'layouts/navigation' %>
      </div>
    </div>

    <div class = "ui container ">
      <%= render 'layouts/sys_msgs' %>
      <%= yield %>
    </div>

  </body>
</html>
